@model IEnumerable<St.John.Models.Cliente>

@{
    ViewBag.Title = "VerListadoPedidos";
}

<h2>VerListadoPedidos</h2>

@Html.ActionLink("Pedido Nuevo", "Pedido", new { /* id=item.PrimaryKey */ })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NitCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrogaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantDrogas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCliente)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NitCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrogaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantDrogas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCliente)
        </td>
    </tr>
    }

</table>
